<div class="share-cta-links">
	<ul class="share-cta-links__list">
		<li class="share-cta-links__item">
			<span class="cta-icon cta-icon-print"></span>
			<a data-network="print" class="st-custom-button" href="#test.print">Print</a>
		</li>
		<li class="share-cta-links__item">
			<span class="cta-icon cta-icon-share"></span>
			<a data-network="sharethis" class="st-custom-button" href="#test.share">Share</a>
		</li>
		<li class="share-cta-links__item">
			<span class="cta-icon cta-icon-download"></span>
			<a href="#test.download" data-action="press-kit-download" data-file-name="File name" data-file-download-url="https://devcd.lincolnelectric.com/-/media/Press-Kits/download.ashx">Download (214KB ZIP)</a>
		</li>
	</ul>
</div>
