$block: 'cad-file-search';

.#{$block} {

  &__wrapper {
    border-radius: 4px;
    background-color: map-get($color, white);
    border-bottom: 3.5px solid map-get($color, gray-light);
    margin: map-get($spacing, x-large) auto;
    width: 95%;
    padding: map-get($spacing, x-large) map-get($spacing, xx-large) map-get($spacing, xx-large);
    @include mobile-only {
      padding: map-get($spacing, x-large);
    }
    @media (max-width: 600px) {
      padding: map-get($spacing, x-large) map-get($spacing, medium);
    }
  }

  &__title {
    @include font(headline);
    @include typography(h3);
    font-weight: bold;
    line-height: 0;
    margin: 0;
    margin-bottom: map-get($spacing, small);
  }

  &__subtext {
    color: map-get($color, gray-darker);
    @include font(regular);
    @include typography(p-small);
    letter-spacing: 0;
  }

  &__subtext-wrapper {
    width: 90%;
  }

  &__link {
    display: inline;
  }

  &__section-search {
    display: flex;
    align-items: flex-end;
    margin: map-get($spacing, xx-large) 0;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: map-get($spacing, x-large);
    }
  }

  &__section-or-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 0 22px 20px;
    @include tablet {
      margin: map-get($spacing, medium);
      width: 100%;
    }
  }

  &__section-or-text {
    color: map-get($color, gray-darkest);
    @include font(headline);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-transform: uppercase;
    align-self: center;
  }

  &__section-or-divider {
    height: 1px;
    background-color: map-get($brand, border);
    width: 14px;
    margin: 0 6px;
    align-self: center;
    @include tablet {
      width: 100%;
    }
  }

  &__form-input {
    width: 100%;
    .input-text {
      &__wrapper {
        @include tablet {
          display: block;
          button {
            margin-top: map-get($spacing, small);
          }
        }
      }
    }
  }

  &__dropdown {
    @include balance-margins;
    margin: map-get($spacing, large) 0;
    width: 100%;
    margin: 0;
  }

  &__dropdown-wrapper {
    position: relative;
    width: 100%;
  }

  &__dropdown-wrap {
    display: flex;
    @include tablet {
      display: block;
      button {
        margin-top: map-get($spacing, small);
      }
    }
  }

  &__dropdown-label {
    color: map-get($color, gray-darkest);
    @include font(regular);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 10px;
    display: block;
  }

  &__dropdown-select {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: 1px solid map-get($color, gray-light);
    border-radius: 4px;
    background-color: map-get($color, white);
    appearance: none;
    color: map-get($color, gray);
    @include font(regular);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
  }

  &__dropdown-arrow {
    pointer-events: none;
    position: absolute;
    right: 18px;
    top: 17px;
    width: 11px;
    height: 11px;
    color: map-get($color, red);
    &:before {
      margin-left: -8px;
      padding-left: 8px;
      background-color: map-get($color, white);
    }
  }

  &__section-results {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid map-get($color, gray-light);
    border-radius: 4px;
    margin: map-get($spacing, x-large) 0;
    padding: map-get($spacing, x-large) map-get($spacing, x-large);
    @media (max-width: 600px) {
      padding: map-get($spacing, x-large) map-get($spacing, medium);
    }
  }

  &__section-results-title {
    @include font(headline);
    color: map-get($color, black);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
    margin-bottom: map-get($spacing, x-large);
  }

  &__results-row {
    display: flex;
    width: 100%;
    border-bottom: 1px solid map-get($color, gray-light);
    padding: map-get($spacing, medium) 0;

    &:last-of-type {
      border: none;
    }
  }

  .results-col1 {
    width: 40%;

  }

  .results-col2 {
    width: 30%;
  }

  .results-col3 {
    width: 40%
  }

  &__results-header-text {
    color: map-get($color, gray-darkest);
    @include font(headline);
    font-weight: bold;
    letter-spacing: 0;
    margin: 0;
  }

  &__results-text {
    @include font(regular);
    @include typography(label);
    margin-right: 10px;
    letter-spacing: 0;
    color: map-get($color, red);

    &--gray {
      color: map-get($color, gray);
    }
  }
}