$block: 'sticky-navigation';

.#{$block} {
  position: relative;
  height: 64px;
  width: 100%;
  right: auto;
  left: auto;
  top: 0;
  // margin-top: map_get($spacing, small) + map_get($spacing, xx-large);
  background-color: map_get($color, gray-lightest);
  transition: height .25s ease;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2;
  }
  &-container {
    display: none;
    position: relative;
    height: 64px;
    @include desktop {
      display: block;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  &__item {
    height: 100%;
    padding: 0 map_get($spacing, xx-small);
    margin: 0 60px 0 0;
    list-style: none;

    &:last-of-type {
      margin-right: 0;
    }

    &:before {
      content: none;
    }
    &.active {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: map_get($color, red);
        bottom: 0;
        left: 0;
      }
      .#{$block}__link {
        color: map_get($color, red);
      }
    }
  }
  &__link {
    @include font(headline);
    color: map_get($color, gray-darkest);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
    &:focus {
      color: map_get($color, gray-darkest);
    }
  }
  @include desktop {
    display: block;
  }
}