$block: 'table';

#{$block} {
  //direct and nested tables
  @include font(regular);
  width: 100%;
  thead {
    tr {
      background-color: map-get($color, gray-dark);
    }
  }
  tbody {
    tr {
      background: map-get($color, white);
      &:nth-child(odd){
        background-color: map-get($color, gray-lightest);
      }
    }
  }

  td, th {
    @include font(regular);
    font-size: 14px;
    text-align: left;
    padding: map-get($spacing, small);
    @include desktop {
      font-size: 16px;
    }
    b, strong {
      @include font(regular);
    }
  }

  td {
    color: map-get($color, gray-darker);
    line-height: 18px;
    b {
      color: map-get($color, gray-darkest);
    }
    @include desktop {
      padding: map-get($spacing, medium) map-get($spacing, large);
      line-height: 24px;
    }

    @for $i from 1 through 9 {
      &:nth-last-child(n + #{$i}):nth-last-child(-n + #{$i}):first-child,
      &:nth-last-child(n + #{$i}):nth-last-child(-n + #{$i}):first-child ~ .td {
        @include desktop {
          width: calc(100%/#{$i});
        }
      }
    }
  }

  th {
    color: map-get($color, white);
    vertical-align: middle;
    line-height: 16px;
    @include desktop {
      line-height: 18px;
      padding: map-get($spacing, small) map-get($spacing, large);
    }
  }

  //nested table
  table {
    td, th {
      color: map-get($color, white);
      background-color: map-get($color, gray-dark);
      padding: 0;
      b {
        color: map-get($color, white);
      }
      &:first-of-type {
        padding-right: map-get($spacing, small);
      }
      &:last-of-type {
        padding-left: map-get($spacing, small);
      }
      @include desktop {
        line-height: 18px;
        &:first-of-type {
          padding-right: map-get($spacing, large);
        }
        &:last-of-type {
          padding-left: map-get($spacing, large);
        }
      }
    }
    td[colspan="2"] {
      text-align: center;
      padding: 0;
    }
  }
}

.scrollable-desktop {
  overflow-x: scroll;
}

//multi-col "scroll" tables
.tables-scrollable {
  display: flex;
  position: relative;

  &__has-box-shadow{
    &:after {
      content: '';
      width: 30px;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      z-index: 1;
      box-shadow: inset -15px 0 15px 0 rgba(72,72,72,0.2);
    }
  }

  .fixed {
    width: 35%;
    flex-basis: 35%;
    position: relative;
    margin-right: -1px;
    &:after {
       transform: scaleX(-1);
       content: '';
       width: 22px;
       position: absolute;
       right: 0;
       top: 0;
      //height to be updated
       height: 100%;
       z-index: 1;
       background-color: rgba(216,216,216,0);
       box-shadow: -2px 0 4px 0 rgba(72,72,72,0.2);
     }

    @include desktop {
      width: 100%;
      flex-basis: 100%;
      margin-right: 0;
      &:after {
        content: none;
      }
    }

    &.fixed--activate-desktop {
      width: 20%;
      flex-basis: 20%;
      position: relative;
      margin-right: -1px;
      @include mobile-only {
        width: 35%;
        flex-basis: 35%;
      }
      &:after {
        transform: scaleX(-1);
        content: '';
        width: 22px;
        position: absolute;
        right: 0;
        top: 0;
        //height to be updated
        height: 100%;
        z-index: 1;
        background-color: rgba(216,216,216,0);
        box-shadow: -2px 0 4px 0 rgba(72,72,72,0.2);
      }
      table {
        tr {
          th, td {
            &:not(:first-child){
              display: none;
            }
          }
        }
      }
    }

    table {
      tr {
        th, td {
          &:not(:first-child){
            display: none;
            @include desktop {
              display: table-cell;
            }
          }
        }
      }
    }
  }

  .scroll {
    width: 65%;
    flex-basis: 65%;
    overflow-x: scroll;

    @include desktop {
      display: none;
    }

    &.scroll--activate-desktop {
      display: block;
      width: 80%;
      flex-basis: 80%;
      @include mobile-only {
        width: 65%;
        flex-basis: 65%;
      }
    }

    table {
      tr {
        th, td {
          &:first-child {
            display: none;
          }
        }
      }
      //nested table
      table {
        td, th {
          &:first-child {
            display: table-cell;
          }
        }
      }
    }
  }
}