
{% assign data = site.data.cards.article-grid[include.data][include.index] %}

<a class="card card--article-grid" href="{{ data.url }}">
	<div class="card__image">
		<img src="{{ data.imageSrc | prepend: site.baseurl }}" alt="{{ data.imageAlt }}" />
	</div>
	<div class="card__content">
		<div class="card__wrapper">
			<p class="card__meta">
				<span class="card__category">{{ data.category }}</span>
				<span class="card__date">{{ data.date }}</span>
				<span class="card__region">{{ data.region }}</span>
			</p>
			<h4 class="card__title">{{ data.title }}</h4>
		</div>
	</div>
</a>
